.job {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: red;
}
.daten {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: white;
}
.ok {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: darkgreen;
}