.job {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: #8e8e8e;
}
.daten {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: white;
}
.ok {
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: darkgreen;
}
.ok_, .job_ {
  display: inline-block;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}
.ok_ {background: #006400;}
.job_ {background: #8e8e8e;}
.ok_ b,.job_ b {font-size: 21px;}
.ok_ sup,.job_ sup {position: relative; bottom: 2px;}